rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Helper Functions
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {
      allow get: if request.auth != null;
      allow create, update, delete: if isOwner(userId);

       match /goals/{goalId} {
         allow read, write: if isOwner(userId);
       }
       
      match /coachingLogs/{coachingLogId} {
        function isCoach(coachId) {
          return request.auth.uid == coachId;
        }
        function isOwnerOrCoach() {
          return isOwner(userId) || isCoach(resource.data.coachId);
        }

        allow read: if isOwnerOrCoach();
        allow create: if isCoach(request.resource.data.coachId) && request.resource.data.userId == userId;
        allow update, delete: if isCoach(resource.data.coachId);
      }

       match /tournamentHistory/{tournamentHistoryId} {
          allow read, write: if isOwner(userId);
       }
    }

    match /tournaments/{tournamentId} {
        allow get, list: if true;
        allow create, delete: if isAdmin();
        allow update: if request.auth != null && (
            isAdmin() || 
            (
                request.resource.data.diff(resource.data).affectedKeys().hasOnly(['teamIds']) &&
                request.resource.data.teamIds.size() == resource.data.teamIds.size() + 1
            )
        );
    }

    match /coachingPrograms/{coachingProgramId} {
      function isInstructor(instructorId) {
        return request.auth.uid == instructorId;
      }

      allow get, list: if true;

      allow create: if isInstructor(request.resource.data.instructorId);
      allow update: if isInstructor(resource.data.instructorId);
      allow delete: if isInstructor(resource.data.instructorId);
    }

    match /teams/{teamId} {
      function isTeamCoach() {
          return get(/databases/$(database)/documents/teams/$(teamId)).data.coachId == request.auth.uid;
      }
      
      function isCoach(coachId) {
        return request.auth.uid == coachId;
      }

      allow get, list: if true;
      allow create: if isCoach(request.resource.data.coachId);
      allow update: if isCoach(resource.data.coachId);
      allow delete: if isCoach(resource.data.coachId);

       match /joinRequests/{userId} {
        function isRequestingUser() {
          return request.auth.uid == userId;
        }

        allow create: if request.auth != null && isRequestingUser();
        allow get: if request.auth != null && (isRequestingUser() || isTeamCoach());
        allow list, update, delete: if request.auth != null && isTeamCoach();
      }

       match /announcements/{announcementId} {
         allow get, list: if request.auth != null;
         allow write: if isTeamCoach();
       }

       match /events/{eventId} {
         allow get, list: if request.auth != null;
         allow write: if isTeamCoach();
       }
    }

    match /matches/{matchId} {
      allow get, list: if true;
      allow create, update, delete: if isAdmin();
    }

    match /tournaments/{tournamentId}/matches/{matchId} {
      allow get, list: if true;
      allow write: if false; 
    }
  }
}
